* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
  font-family: roboto, Arial, Helvetica, sans-serif;
}

[class*="col-"] {
    /* debug regole */
    /* border: 1px solid lightgrey; */
    /* height: 65px; */
}

                                                     /* |||||BARRA FISSA||||| */
/* barra fissa in alto */
.menu_fixed  {
    width: 100%;
    height: 65px;
    background-color: #fff;
    position: fixed;
    z-index: 2;
}
/* immagine logo inizio pagina */
#img_logo {
    width: 200px;
    margin-top: 15px;
    padding-left: 15px;
}

/* regole nav */

.menu_right {
    float: right;
}

li a {
    color: #031c4e;
}

a:hover{
    color: #004aff;
}
/* nav a sinistra */
.menu_left li {
    float: left;
    color: #000;
    margin-right: 15px;
    line-height: 65px;
}
/* nav a destra */
.menu_right li {
    float: left;
    color: #000;
    margin-left: 15px;
    line-height: 65px;
}
/* bottone sign up a destra */
.btn {
    width: 100px;
    background-color: #fff;
    border: 1px solid #004aff;
    border-radius: 5px;
    color: #004aff;
    padding: 8px;
    margin-right: 15px;
}

.btn:hover{
    background-color: #004aff;
    color: #fff;
    transition: 0.3s;
}

/* menu hamburger */

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 65px;
    display: none;
    width: 26px;
    float: right;
    color: #004aff;
}

#toggle {
    display: none;
}


@media only screen and (max-width: 992px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }

    #toggle:checked + .menu {
        display: block;
    }

}
/* fine regole nav */

                                                /* ||||FINE BARRA FISSA||||| */


                                                /* ||||INIZIO JUMBO||||| */
.jumbo_sfondo {
    width: 100%;
    height: 580px;
    padding-top: 65px;
    background-image: url("../img/jumbo.svg");
    background-size: cover;
    background-position: center;
}

/* titolo jumbo h1 */
.titolo_jumbo {
    width: 570px;
    color: #fff;
    margin-top: 85px;
    font-size: 30px;
}

/* titolo jumbo paragrafo */
.titolo_jumbo_p {
    width: 640px;
    color: #fff;
    margin-top: 15px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bolder;
    line-height: 30px;
}
/* contenitore form */
.box_form {
    width: 500px;
    height: 400px;
    background-color: #ffff;
    border-radius: 8px;
    margin-top: 60px;
    float: right;
    text-align: center;
}
/* titolo nero box form */
#titolo_form {
    margin-top: 40px;
    margin-bottom: 8px;
    font-size: 30px;
    color: #394b73;
}
/* titolo blu form */
#titolo_2_form {
    color: #004aff;
    font-weight: bolder;
    font-size: 30px;
}
/* campi email e password form */
.campo_form {
    width: 450px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EFEFEF;
    padding: 5px;
    margin-top: 10px;
    color: #404040;
    font-weight: 500;
    font-size: 16px;
}

.form_btn {
    width: 450px;
    height: 35px;
    background-color: #579aff;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding:0px;
    margin-top: 10px;
    font-weight: 600;
}

.google_btn {
    background-color: #fff;
    color: #8F8F8F ;
    box-shadow: 2px 2px #E1E1E1;
    line-height: 40px;
}

#icon_google {
    width: 20px;
    float: left;
    margin-top: 10px;
    position: relative;

}
